@model Event
@{
    ViewData["Title"] = "Create";
}

<div class="container bg-white p-5">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-12 ">
            <form method="post" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                        <label asp-for="@Model.Title">Name</label>
                        <input asp-for="@Model.Title" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="@Model.Title"></span>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8 offset-md-2">
                        <label asp-for="@Model.EventDetail.Description">Aboute Description</label>
                        <textarea asp-for="@Model.EventDetail.Description"> </textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Date">Date</label>
                        <input asp-for="@Model.Date" class="form-control" placeholder="Date">
                        <span class="text-danger" asp-validation-for="@Model.Date"></span>
                    </div>

                    <div class="form-group col-md-6">
                        <label asp-for="@Model.Place">Place</label>
                        <input asp-for="@Model.Place" class="form-control" placeholder="Place">
                        <span class="text-danger" asp-validation-for="@Model.Place"></span>
                    </div>

                </div>

                <div class="text-center my-5">
                    <div class="form-group">
                        <label asp-for="@Model.Photo"></label>
                        <input asp-for="@Model.Photo" accept="image/*" class="form-control">
                        <span class="text-danger" asp-validation-for="@Model.Photo"></span>
                    </div>
                </div>


                <div class="row" style="margin-left:20%">
                    <div class="col-md-6">
                        <h1>TAGS</h1>
                        @foreach (Tag tag in ViewBag.Tags)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="TagsId" value="@tag.Id">
                                <label class="form-check-label">
                                    @tag.Name
                                </label>
                            </div>
                        }

                      

                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a asp-action="Index" class="btn btn-dark">GO BACK</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.ckeditor.com/ckeditor5/23.1.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create(document.querySelector('#EventDetail_Description'))
        .catch(error => {
            console.error(error);
        });
</script>

