@model List<Event>
@{
    ViewData["Title"] = "Search";
    int count = 0;
}

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event / right side bar</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area event-area three text-center pt-150 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">

                        @foreach (Event events in Model)
                        {
                            if (count % 2 == 0 && count != 0)
                            {
                                @Html.Raw("</div><div class='col-md-6 col-sm-12 col-xs-12'>")
                            }
                            <div class="single-event mb-35">
                                <div class="event-img">
                                    <a asp-controller="Event" asp-action="Detail" asp-route-id="@events.Id"><img src="~/img/event/@events.Image" alt="event"></a>
                                </div>
                                <div class="event-content text-left">
                                    <h3>@events.Date.Day,@events.Date.ToString("MMMM"),@events.Date.Year</h3>
                                    <h4><a asp-controller="Event" asp-action="Detail" asp-route-id="@events.Id">@events.Title</a></h4>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                        <li><i class="fa fa-map-marker"></i>New Yourk City</li>
                                    </ul>
                                    <div class="event-content-right">
                                        <a class="default-btn" asp-controller="Event" asp-action="Detail" asp-route-id="@events.Id">join now</a>
                                    </div>
                                </div>
                            </div>
                            count++;
                        }

                    </div>
                </div>
            </div>
            @*<div class="col-md-12">
                    <div class="pagination pages">
                        <ul class="pagination">
                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                if (i == ViewBag.Page)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-controller="Event" asp-action="Index" asp-route-page="@i">@i</a>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                </div>*@

            <div class="col-md-4">
                <div class="blog-sidebar right text-left">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" method="post" asp-controller="Event" asp-action="Search">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            <li><a href="#">CSS Engineering (10)</a></li>
                            <li><a href="#">Political Science (12)</a></li>
                            <li><a href="#">Micro Biology (08)</a></li>
                            <li><a href="#">HTML5 &amp; CSS3 (15)</a></li>
                            <li><a href="#">Web Design (20)</a></li>
                            <li><a href="#">PHP (23)</a></li>
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a href="blog-details.html" id="blog"><img src="~/img/blog/blog-img.jpg" alt="blog"></a>
                            <h2>best<br> eductaion<br> theme</h2>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @await Component.InvokeAsync("LatestPost")
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            <a href="blog-details.html" class="mr-10 mb-10">course</a>
                            <a href="blog-details.html" class="mr-10 mb-10">education</a>
                            <a href="blog-details.html" class="mb-10">teachers</a>
                            <a href="blog-details.html" class="mr-10">learning</a>
                            <a href="blog-details.html" class="mr-10">university</a>
                            <a href="blog-details.html">events</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
